/* @keyframes service-box-hover {
            from {
                
            }

            to {
                 
                box-shadow: 1px 3px 30px -20px black;
            }

        } */
        button {
            transition: 0.3s;
        }

        button:hover {
            transition: 0.3s;
        }

        div {
            transition: 0.5s;
        }

        div:hover {
            transition: 0.5s;
        }

        body::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 77%;
            width: 100%;
            z-index: -1;
            background-image: url("https://th.bing.com/th/id/R.33ef5878f585fcdf85a9990d4e4e8685?rik=4K4fDhfOxU5OWA&riu=http%3a%2f%2fwww.webtechelp.net%2fwp-content%2fuploads%2f2014%2f05%2fbusiness-cards-psd.jpg&ehk=XxeBDUTUs6oZcIE5rV8lwJtq1ebcB15dV%2bdElvIyZRE%3d&risl=&pid=ImgRaw&r=0");
            background-repeat: no-repeat;
            opacity: 0.8;
        }

        .logo img {
            position: absolute;
            left: 23px;
            width: 197px;
            top: 20px;
            filter: invert(100);
        }

        .logo :hover {
            cursor: pointer;
        }

        .logo div {
            position: absolute;
            top: 113px;
            left: 5px;
            font-size: XXX-LARGE;
        }
        

        .navbar {
            margin: 40px auto;
            width: 70%;
            display: block;
            text-align: center;
            padding: 0px;
        }

        .navbar li {
            display: inline-block;
            list-style-type: none;
            margin: 0px 20px;
        }

        .navbar li a {
            color: rgb(0, 0, 0);
            font-weight: bolder;
            font-size: 20px;
        }


        .navbar li a:active {
            color: red;
        }

        .navbar li a:hover {
            color: rgb(124, 117, 117);
        }

        a {
            text-decoration: none;

        }

        .navbar input {
            position: absolute;
            right: 143px;
            top: 32px;
            height: 30px;
            border-radius: 5px;
            width: 213px;
            border: white;
            border: 0.5px solid black;
        }

        .navbar button {
            position: absolute;
            right: 11px;
            top: 30px;
            height: 35px;
            border-radius: 5px;
            width: 105px;
            border: white;
            background-color: #5df07c;
            cursor: pointer;
        }

        .navbar button:hover {
            background-color: rgb(0, 211, 70);
        }

        .welcome {
            text-align: center;
            font-weight: bolder;
            font-size: 70px;
            margin-top: 84px;
            color: #000000;

        }

        .welcome div:first-child {
            margin-bottom: 2px;
        }

        .getstarted button {
            align-items: center;
            margin: 33px auto auto auto;
            position: absolute;
            left: 651px;
            width: 194px;
            height: 57px;
            border-radius: 5px;
            border: 2px white;
            background-color: rgb(93, 240, 124);
            font-weight: bold;
            font-size: large;
        }

        .getstarted button:hover {
            background-color: rgb(0, 211, 70);
            cursor: pointer;
            margin-top: 28px;

        }

        .features {
            display: flex;
            flex-direction: row;

        }

        .features div {
            border-radius: 5px;
            margin: 180px auto;
            font-size: 30px;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            color: #000000;
            width: 23vw;
            text-align: center;
            height: 115px;
            font-weight: bolder;
            box-shadow: 3px 3px 9px #ccccc9;
            box-sizing: border-box;
        }

        .features div:hover {
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            box-shadow: 3px 3px 9px #9e9e9c;
            margin-top: 170px;

        }

        .features div p {
            font-weight: 200;
            font-size: 17px;
            margin-top: 5px;
        }



        .highlights::before {
            content: "";
            position: absolute;
            top: 542px;
            left: 0px;
            right: 0px;
            height: 95%;
            width: 100%;
            z-index: -1;
            opacity: 0.3;
            background-image: url(https://cdn.wallpapersafari.com/14/38/aYEfz0.jpg);
            background-color: azure;
        }

        .highlights {
            margin: 15px -113px auto 117px;
            display: flex;
            flex-direction: row;
            align-content: center;
        }

        .highlights div {
            margin: auto;
            font-size: 102px;
            color: #00aa25;
            font-weight: bolder;
            width: 30vw;

        }

        .highlights div p {
            font-weight: 500;
        }

        .highlights_p1 {
            font-size: 20px;
            color: #000000;
            margin-top: 10px;
        }

        .highlights_p2 {
            font-size: 15px;
            color: #000000;
            margin-top: -8px;
            width: 52%;
        }

        #experience {
            font-size: 200px;
            margin-top: -100px;
        }

        #experience p {
            font-size: 20px;
            color: #000000;
            margin-top: -22px;
            font-weight: 700
        }

        .highlightsend img {
            display: inline-block;
            position: relative;
            left: 645px;
            margin: auto;
            text-align: center;
            border-radius: 175px;
            top: 58px;
            height: 227px;
        }

        .extrainfo {
            margin: 150px auto auto auto;
            display: flex;
            flex-direction: row;
            padding-left: 100px;

        }

        .extrainfo div {
            width: 400px;
            margin: auto;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            width: 400px;
        }

        .extrainfo div:first-child {
            font-size: 42px;
            font-weight: bolder;
        }

        .extrainfo div p {
            font-size: 17px;
            font-weight: lighter;
            line-height: 36px;
        }

        .pics {
            display: flex;
            flex-direction: row;
            margin-top: 250px;
            padding-left: 100px;
        }

        .pics img {
            width: 28vw;
            height: 388px;
            margin: auto;
            border-radius: 14px;
        }

        .onpics {
            display: flex;
            flex-direction: row;
            margin-top: -126px;
            padding-left: 202px;
            color: white;
            text-shadow: 1px 1px 5px black;

        }

        .onpics div {
            margin-left: -66px;
            margin-right: 130px;
            font-size: large;
            font-size: 27px;
            font-weight: bold;
            width: 30vw;
        }

        .onpics div:first-child {
            margin-right: 180px;
        }

        .onpics div:nth-child(3) {
            margin-right: 50px;
        }

        .onpics div p {
            font-size: 17px;
            font-weight: lighter;
            margin-top: 10px;
        }

        .onpics button {
            background-color: #5df07c;
            border-radius: 5px;
            border: white;
            height: 40px;
            width: 142px;
            cursor: pointer;
        }

        .onpics button:hover {
            box-shadow: 1px 1px 7px rgb(141, 148, 141);
        }

        .services::before {
            background-color: rgb(240, 240, 240);
            content: "";
            position: absolute;
            top: 2178px;
            left: 0px;
            right: 0px;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.3;
        }

        .services {
            margin: 150px auto auto auto;
            font-weight: bolder;
        }

        .serviceshead {
            margin: auto auto 37px auto;

        }

        #ser-head {
            color: green;
            font-size: 25px;
            margin: auto auto 25px auto;
            width: 260px;
        }

        .serviceshead div p {
            font-weight: bolder;
            margin-top: 0px;
            padding-left: 35px;
        }

        .ser-subhead {
            margin: auto;
            width: 561px;
            font-size: 35px;
        }

        .serviceboxes {
            display: flex;
            flex-direction: row;
            width: 77vw;
            margin: auto;
        }

        .serviceboxes div {
            text-align: center;
        }

        .servicebox {
            border: 1px solid #d6d6d6;
            height: 200px;
            padding: 38px;
            width: 22vw;
            margin: 25px;
            border-radius: 5px;
            font-weight: 550;
            transition: 0.75s;
        }


        .servicebox div:first-child {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .servicebox p {
            font-weight: 200;
            line-height: 30px;
        }

        .ser-buttons {
            margin-top: 15px;
            width: 140px;
            height: 40px;
            border-radius: 5px;
            border: 2px black;
            background-color: rgb(208 208 208);
            cursor: pointer;
        }

        .servicebox:hover {
            /* animation-name: service-box-hover;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; */
            box-shadow: 1px 3px 30px -20px black;
            transition: 0.5s;
            margin-top: 10px;
            background-color: white;
        }

        .ser-buttons:hover {
            background-color: #c7c7c7;
            box-shadow: 2px 4px 13px -5px #a99c9c;
            margin-top: 7px;
        }

        #allser {
            margin: auto;
            width: 126px;
            margin-top: 20px;
            box-sizing: border-box;
            height: 75px;
        }

        #allser button {
            width: 138px;
            background-color: rgb(71 255 154);
            font-size: 15px;
            height: 50px;
        }

        #allser button:hover {
            margin-top: 10px;
        }

        .business::before {
            background-color: white;
        }

        .business {
            margin-top: 50px;
        }

        .business-process {
            width: 30vw;
        }

        .business-process p:first-child {
            font-size: 42px;
            font-weight: bolder;
        }

        .business-steps {
            margin-bottom: 60px;
        }

        .business-steps p:first-child {
            font-weight: bolder;
            font-size: large;
            line-height: 25px;
        }